.payment-method-page {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .payment-method-page h1 {
    text-align: center;
    color: #333;
  }
  
  .payment-method-page form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .payment-method-page label {
    margin-bottom: 15px;
    color: #666;
  }
  
  .payment-method-page input[type="text"],
  .payment-method-page input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  .payment-method-page input[type="radio"] {
    margin-right: 10px;
  }
  
  .radio-group {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .payment-method-page button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .payment-method-page button:hover {
    background-color: #0056b3;
  }
  
  .card-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card-details label {
    flex: 1 1 48%; 
    min-width: 120px; 
  }
  
  .card-details label:nth-child(odd) {
    margin-right: 4%;
  }
  

  @media (max-width: 768px) {
    .card-details label {
      flex: 1 1 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }
  
    .card-details label:nth-child(odd) {
      margin-right: 0;
    }
  }
  