
.user-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-interface {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-header {
	width: 80%;
  	padding: 20px;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
	border-bottom:2px solid #ccc;
	margin:0;
}

.back-button {
  	text-decoration: none;
  	color: #333;
  	transition: color 0.3s;
}

.back-button:hover {
  	color: #007bff;
}

.payment-button {
  	margin-top: 20px;
}

.payment-button button {
  	padding: 10px 20px;
  	background-color: #007bff;
  	color: #fff;
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
  	transition: background-color 0.3s;
}

.payment-button button:hover {
  	background-color: #0056b3;
}

