body {
  background: linear-gradient(to right, transparent, rgb(225, 241, 255))
}

.login-container, .register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  background-color: #278da2;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.btn1 {
  background-color: #278da2;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.btn1:hover {
  background-color: rgb(115, 168, 243);
}
.btn:hover {
  background-color: rgb(115, 168, 243);
}

.register-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.privacy-policy-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  z-index: 11;
}

.form-container.blurred {
  opacity: 0.5;
}
